* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}


header {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

header strong {
  font-size: 22px;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
}

header nav ul li + li {
  margin-left: 24px;
}

